In [10]:
import pandas as pd

import numpy as np

df = pd.read_csv('eCommercePK.csv')

df.head

<bound method NDFrame.head of      order_id order_status order_source  order_date category      sku  \
0        5447      Shipped     Whatsapp  04/01/2025       CK      Dng
1       14127      Shipped          Web  08/01/2025       CK      DIY
2       14213      Shipped          Web  19/01/2025       CK      DIY
3       14333      Shipped          Web  05/02/2025       CK  Simply9
4       14397      Shipped          Web  16/02/2025       CK  Simply9
..        ...          ...          ...         ...      ...      ...
792      5455      Shipped     Whatsapp  11/02/2025      HNS   101-15
793     14122      Shipped          Web  07/01/2025       WD      pta
794      5542      Shipped     Whatsapp  27/01/2025      HNS   101-15
795      5464      Shipped     Whatsapp  14/03/2025      HNS   101-12
796      5474      Shipped     Whatsapp  18/04/2025      HNS   101-18

     quantity  sales        city
0           1   1590     Karachi
1           1    899     Karachi
2           1    899     Karachi
3           1    990     Karachi
4           1    990     Karachi
..        ...    ...         ...
792         2   8380      Lahore
793         5   8950  Rawalpindi
794         4   9500      Ghotki
795         8  11900      Lahore
796         4  13500      Ghotki

[797 rows x 9 columns]>

In [11]:
df.info()

df.describe()

df.isna().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 797 entries, 0 to 796
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   order_id      797 non-null    int64
 1   order_status  797 non-null    object
 2   order_source  797 non-null    object
 3   order_date    797 non-null    object
 4   category      797 non-null    object
 5   sku           797 non-null    object
 6   quantity      797 non-null    int64
 7   sales         797 non-null    int64
 8   city          797 non-null    object
dtypes: int64(3), object(6)
memory usage: 56.2+ KB

order_id        0
order_status    0
order_source    0
order_date      0
category        0
sku             0
quantity        0
sales           0
city            0
dtype: int64

In [21]:
import pandas as pd

# Load dataset
df = pd.read_csv('eCommercePK.csv')

# Remove duplicates
df = df.drop_duplicates(subset='order_id')

# Fix data types
df['order_date'] = pd.to_datetime(df['order_date'], errors='coerce')  # convert to datetime
df['quantity'] = pd.to_numeric(df['quantity'], errors='coerce')       # convert to number
df['sales'] = pd.to_numeric(df['sales'], errors='coerce')             # convert to number

# Handle missing or invalid rows
df = df[df['quantity'] > 0]                    
df = df[df['sales'] > 0]                      
df = df.dropna(subset=['order_date'])         

# Fill missing text fields
for col in ['order_status', 'order_source', 'category', 'city']:
    df[col] = df[col].fillna('Unknown')

# Save cleaned dataset
df.to_csv('orders_cleaned.csv', index=False)

print("Cleaning complete!")
df.head()

Cleaning complete!

,order_id,order_status,order_source,order_date,category,sku,quantity,sales,city
0,5447,Shipped,Whatsapp,2025-04-01,CK,Dng,1,1590,Karachi
1,14127,Shipped,Web,2025-08-01,CK,DIY,1,899,Karachi
3,14333,Shipped,Web,2025-05-02,CK,Simply9,1,990,Karachi
7,14325,Shipped,Web,2025-03-02,CK,Geo12,1,1090,Karachi
8,14356,Shipped,Web,2025-08-02,CK,Geo12,1,1090,Karachi